<c8y-modal [title]="title" [customFooter]="true">
  <div class="d-block p-24 p-b-0">
    <p class="d-flex a-i-start p-b-16 separator-bottom">
      <i [c8yIcon]="'info-circle'"></i>
      <span translate>{{ infoMessage }}</span>
    </p>

    <c8y-to-adamos-form
      (selectedDevice)="onSelectDevice($event)"
      *ngIf="mode === 'C8yToAdamos'"
    ></c8y-to-adamos-form>
    <adamos-to-c8y-form
      (selectedDevice)="onSelectDevice($event)"
      *ngIf="mode === 'AdamosToC8y'"
    ></adamos-to-c8y-form>

    <div class="modal-footer">
      <button class="btn btn-default" (click)="onCancel()">
        {{ "Cancel" | translate }}
      </button>
      <button
        class="btn btn-primary"
        [disabled]="!selectedDevice"
        (click)="linkToExistingDevice()"
      >
        <i c8yIcon="chain"></i>
        {{ "Link to existing device" | translate }}
      </button>
      <button class="btn btn-primary" (click)="createNewDevice()">
        <i c8yIcon="plus-circle"></i>
        {{ "Create new device" | translate }}
      </button>
    </div>
  </div>
</c8y-modal>
