<c8y-title translate>{{ "Events to ADAMOS-Hub" | translate }}</c8y-title>

<c8y-action-bar-item placement="right">
  <a (click)="onClickAdd()" class="btn btn-link">
    <i c8yIcon="plus-circle"></i> {{ "Add new mapping" | translate }}
  </a>
</c8y-action-bar-item>

<c8y-action-bar-item placement="right">
  <a
    class="btn btn-link"
    title="Refresh subscriptions page"
    (click)="refresh()"
  >
    <i c8yIcon="refresh" [ngClass]="{ 'icon-spin': isLoading }"></i>
    <span translate style="margin-left: 5px">Reload</span>
  </a>
</c8y-action-bar-item>

<div *ngIf="!isLoading">
  <div *ngIf="rules?.length === 0">
    <div class="c8y-empty-state text-left">
      <h1 class="icon c8y-icon c8y-icon-event-processing"></h1>
      <p>No mappings found.</p>
    </div>
  </div>

  <table class="table table-striped" *ngIf="rules?.length > 0">
    <thead>
      <tr>
        <th>{{ "Name" | translate }}</th>
        <th>{{ "Status" | translate }}</th>
        <th>{{ "Cumulocity Event type" | translate }}</th>
        <th>{{ "Cumulocity devices" | translate }}</th>
        <th>{{ "ADAMOS Hub event code" | translate }}</th>
        <th>{{ "Cumulocity event fragments" | translate }}</th>
        <th style="width: 2em">{{ "Move" | translate }}</th>
        <th class="text-right">{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr
        *ngFor="let rule of rules"
        [ngClass]="{ 'text-gray-light': !rule.enabled }"
      >
        <td>
          <a (click)="onClickEdit(rule)">
            {{ rule.name ? rule.name : "-" }}
          </a>
        </td>
        <td>
          <label
            class="c8y-switch c8y-switch--inline"
            (click)="$event.preventDefault(); openTogglStatusModal(rule)"
          >
            <input type="checkbox" [checked]="rule.enabled" />
            <span></span>
            <span>{{
              (rule.enabled ? "Active" : "Disabled") | translate
            }}</span>
          </label>
        </td>
        <td>{{ rule.c8yEventType }}</td>
        <td>{{ rule.c8yDevices.toString() }}</td>
        <td>{{ rule.adamosEventType }}</td>
        <td>{{ rule.c8yFragments.toString() }}</td>
        <td style="vertical-align: middle; color: black">
          <i
            *ngIf="rules.indexOf(rule) > 0"
            c8yIcon="arrow-up"
            (click)="onClickMoveUp(rule)"
            style="float: left"
          ></i
          ><i
            *ngIf="rules.length > 0 && rules.indexOf(rule) < rules.length - 1"
            c8yIcon="arrow-down"
            (click)="onClickMoveDown(rule)"
            style="float: right"
          ></i>
        </td>
        <td class="text-right" style="padding: 0px">
          <div class="btn-group" dropdown>
            <button
              id="btnVerticalDrop"
              type="button"
              class="btn-dot dropdown-toggle c8y-dropdown"
              style="padding: 7px; position: absolute; right: 0px; top: 0px"
              dropdownToggle
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i c8yIcon="ellipsis-v"></i>
            </button>
            <ul
              class="dropdown-menu"
              *dropdownMenu
              aria-labelledby="btnVerticalDrop"
              style="right: 0px; left: auto"
            >
              <li>
                <a (click)="onClickEdit(rule)"
                  ><i class="fa fa-edit"></i> {{ "Edit" | translate }}</a
                >
              </li>
              <li>
                <a (click)="onClickDuplicate(rule)"
                  ><i class="fa fa-clone"></i> {{ "Duplicate" | translate }}</a
                >
              </li>
              <li>
                <a (click)="onClickDelete(rule)"
                  ><i class="fa fa-remove"></i> {{ "Delete" | translate }}</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="float: right">
  <button *ngIf="hasChanges" class="btn btn-primary" (click)="onSave()">
    Save changes
  </button>
  <button *ngIf="hasChanges" class="btn" (click)="onClickUndo()">
    Undo changes
  </button>
</div>

<ng-template #mappingModal>
  <mapping-modal
    [selectedMapping]="selectedMapping"
    (save)="onModalSave($event)"
    (cancel)="onModalCancel()"
  ></mapping-modal>
</ng-template>
